node_red_data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1e257c7044937c54",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/get-album-meta",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "3be1bed0c8ba7a85"
            ]
        ]
    },
    {
        "id": "1fd6e7e42e88b5f9",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1460,
        "y": 340,
        "wires": []
    },
    {
        "id": "173a6d3231c34af4",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Login Request Params",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "SYNO.Core.Sharing.Login",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api_method",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api_version",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 180,
        "wires": [
            [
                "5a50a72e7f25acb6"
            ]
        ]
    },
    {
        "id": "5a50a72e7f25acb6",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "LOGIN",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{api_url}}}?api={{{api}}}&method={{{api_method}}}&version={{{api_version}}}&sharing_id={{{sharing_id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1060,
        "y": 180,
        "wires": [
            [
                "6df27ccffbeee0d8"
            ]
        ]
    },
    {
        "id": "6df27ccffbeee0d8",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Album Count Parameters",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "SYNO.Foto.Browse.Album",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api_method",
                "pt": "msg",
                "to": "get",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api_version",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t    \"X-SYNO-SHARING\": $.sharing_id\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 260,
        "wires": [
            [
                "676247dbf32a149d"
            ]
        ]
    },
    {
        "id": "676247dbf32a149d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "GET ALBUM COUNT",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "{{{api_url}}}?api={{{api}}}&method={{{api_method}}}&version={{{api_version}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1240,
        "y": 260,
        "wires": [
            [
                "eb071d216aaeb43a"
            ]
        ]
    },
    {
        "id": "eb071d216aaeb43a",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Album Items Params",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "SYNO.Foto.Browse.Item",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api_method",
                "pt": "msg",
                "to": "list",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api_version",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api_additional",
                "pt": "msg",
                "to": "[\"thumbnail\"]",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api_limit",
                "pt": "msg",
                "to": "payload.data.list[0].item_count",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t    \"X-SYNO-SHARING\": $.sharing_id\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 340,
        "wires": [
            [
                "4a3920a550b88739"
            ]
        ]
    },
    {
        "id": "4a3920a550b88739",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{api_url}}}?api={{{api}}}&method={{{api_method}}}&version={{{api_version}}}&additional={{{api_additional}}}&offset=0&limit={{{api_limit}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1290,
        "y": 340,
        "wires": [
            [
                "1fd6e7e42e88b5f9"
            ]
        ]
    },
    {
        "id": "f1ca135b95a58978",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "use",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1250,
        "y": 560,
        "wires": [
            [
                "872fbffdaec47edc"
            ]
        ]
    },
    {
        "id": "f006b2f3b64d3e5c",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "image/jpeg"
        },
        "x": 1680,
        "y": 560,
        "wires": []
    },
    {
        "id": "d4c9a4c246d375fc",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Image Request Params",
        "func": "msg.url = msg.api_url + \"/webapi/entry.cgi\"\n    + \"?api=SYNO.Foto.Thumbnail&method=get&version=2&type=unit\"\n    + \"&size=\" + msg.size \n    + \"&_sharing_id=\" + msg.sharing_id\n    + \"&id=\" + msg.req.query.id\n    + \"&cache_key=\" + msg.req.query.cacheKey;\n\nmsg.method = \"GET\";\nmsg.cookies = msg.responseCookies;\nmsg.headers = {\n    \"X-SYNO-SHARING\": msg.sharing_id\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "f1ca135b95a58978"
            ]
        ]
    },
    {
        "id": "872fbffdaec47edc",
        "type": "jimp-image",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "width",
        "parameter1Type": "msg",
        "parameter2": "height",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "none",
        "parameter4": "RESIZE_NEAREST_NEIGHBOR",
        "parameter4Type": "resizeMode",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 4,
        "jimpFunction": "contain",
        "selectedJimpFunction": {
            "name": "contain",
            "fn": "contain",
            "description": "scale the image to the given width and height, some parts of the image may be letter boxed",
            "parameters": [
                {
                    "name": "w",
                    "type": "num",
                    "required": true,
                    "hint": "the width to resize the image to"
                },
                {
                    "name": "h",
                    "type": "num",
                    "required": true,
                    "hint": "the height to resize the image to"
                },
                {
                    "name": "alignBits",
                    "type": "alignMode",
                    "required": false,
                    "hint": "A bitmask for horizontal and vertical alignment. Jimp.HORIZONTAL_ALIGN_LEFT | Jimp.HORIZONTAL_ALIGN_CENTER | Jimp.HORIZONTAL_ALIGN_RIGHT | Jimp.VERTICAL_ALIGN_TOP | Jimp.VERTICAL_ALIGN_MIDDLE | Jimp.VERTICAL_ALIGN_BOTTOM;"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "A scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 1440,
        "y": 560,
        "wires": [
            [
                "f006b2f3b64d3e5c"
            ]
        ]
    },
    {
        "id": "cb74e107e76de494",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/image",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "29761875aed7a8a5"
            ]
        ]
    },
    {
        "id": "1fc07254a63a0673",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Login Request Params",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "SYNO.Core.Sharing.Login",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api_method",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api_version",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 560,
        "wires": [
            [
                "d7b20faf3309de5e"
            ]
        ]
    },
    {
        "id": "d7b20faf3309de5e",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "LOGIN",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{api_url}}}?api={{{api}}}&method={{{api_method}}}&version={{{api_version}}}&sharing_id={{{sharing_id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 800,
        "y": 560,
        "wires": [
            [
                "d4c9a4c246d375fc"
            ]
        ]
    },
    {
        "id": "3be1bed0c8ba7a85",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "const shareUrl = msg.req.query.shareUrl;\n\nconst baseUrlRe = /^.+?[^\\/:](?=[?\\/]|$)/;\nmsg.api_url = baseUrlRe.exec(shareUrl)[0] + \"/webapi/entry.cgi\";\n\nconst sharingIdRe = /(?!.*\\/).+/\nmsg.sharing_id = sharingIdRe.exec(shareUrl)[0]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "173a6d3231c34af4"
            ]
        ]
    },
    {
        "id": "29761875aed7a8a5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "const shareUrl = msg.req.query.shareUrl;\n\nconst baseUrlRe = /^.+?[^\\/:](?=[?\\/]|$)/;\nmsg.api_url = baseUrlRe.exec(shareUrl)[0] + \"/webapi/entry.cgi\";\n\nconst sharingIdRe = /(?!.*\\/).+/\nmsg.sharing_id = sharingIdRe.exec(shareUrl)[0]\n\nmsg.width = parseInt(msg.req.query.width ?? \"600\")\nmsg.height = parseInt(msg.req.query.height ?? \"400\")\n\nmsg.size = msg.req.query.size ?? \"xl\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 560,
        "wires": [
            [
                "1fc07254a63a0673"
            ]
        ]
    }
]